.tree {
    max-width: var(--w-inner);
}

.link {
    position: relative;
    height: fit-content;
    min-height: var(--link-height);
    background: var(--clr-blue2);
    border-radius: calc( var(--link-height)*0.2 );
    overflow: hidden;
}

.link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: calc( var(--link-height)*0.2 );
    background: var(--clr-white2);
    transition-duration: 0.25s;
    opacity: 0;
}

.link[isEditMode="true"]::before {
    opacity: 0.25;
}

.link[isEditMode="false"]:hover {
    cursor: pointer;
}

.link-event-listener {
    position: absolute;
    height: 100%;
    width: 100%;
}
